<html>
    <head>
        <title>Create Password Entry</title>
    </head>
    <body>
        <h1>Create a New Password Entry</h1>
        <form method="post">
            {% csrf_token %}
            <!-- <label for="site_name">Site Name:</label>
            <input type="text" id="site_name" name="site_name" required><br><br>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Create Entry"> -->
            {{ form.as_p }}
            <button type="submit">Create Entry</button>
        </form>
    </body>
</html>