{% extends "base.html" %}

{% block title %}Password Entries{% endblock %}

{% block content %}
<h2>Password Entries</h2>
<!-- <ul>
{% for entry in entries %}
    <li>
        Organization: {{ entry.organization }} <br> 
        Email: {{ entry.email }} <br>
        Username: {{ entry.username }} <br>
        Password: {{ entry.password }} <br><br>
    </li>
{% endfor %}
</ul> -->
<table>
    <tr>
        <th>Organization</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry.organization }}</td>
        <td>{{ entry.email }}</td>
        <td>{{ entry.username }}</td>
        <td>{{ entry.password }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}